
aside {
    position: relative;
    top: 0px;
    left: 0px;
}

.image1 {
    width: 320px;
    max-width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.image2 {
    position: absolute;
    border: 2px solid blue;
    left: 30px;
}